@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure no global overflow issues */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; Ensure no scrollbars on the body */
}

/* Ensure layout container uses full height */
.ant-layout {
  min-height: 80%;
  display: flex;
  flex-direction: column;
}

/* Ensure no global padding/margin affecting layout */
* {
  box-sizing: border-box;
}
